button, a, input, select {
  cursor: pointer;
}


.checkout-money {
  text-align: right;
}


.checkout-cart-display .product-line td{
    border-bottom: 1px solid #eee;
}

.checkout-cart-display .product-line:first-child td {
  border-top: 1px solid #eee;
}


.checkout-cart-display .product-line td {
    padding: 15px 0;
}

.checkout-cart-display .product-line:last-child td {
  padding-bottom: 0;
}


/* This class is set when a variant button is selected */
.checkout-selected-variant {
  background-color: yellow;
}

.checkout-variant-target.checkout-selected-variant {
  color: green;
  background-color: #fff;
}

.checkout-selected-addon {
  background-color: yellow;
}

/* checkout-invalid-field is placed on the form-group when the field is invalid */
.checkout-invalid-field label {
  color: red;
}

/* Outlines invalid fields */
.checkout-invalid-field input, .checkout-invalid-field select {
  border: 1px solid red;
}
/* This is the class on the error text shown next to an invalid input */
.checkout-validation-help-text {
  font-weight: italic;
  font-size: small;
  color: red;
}

/* Added to a form-group when the field validates successfully */
.checkout-valid-field {
}

/* This handles the billing address fields  */
/* It will only dislay the billing fields if they click "Use a different billing address" */
.checkout-billing-fields {
  display: none;
}
.checkout-use-billing-address .checkout-billing-fields {
  display: block;
}