.container {
  width: 100%;
  display: flex;
}

.feature {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: black;
  border-bottom: 1px solid #ccc;
}

.code {
  padding: 25px;
  flex-grow: 1;
  background-color: #fff;
}
.example {
  flex-grow: 1;
  background-color: #fff;
  padding: 25px;
}

