.demo-root {
  padding: 15px;

  button {
    width: 150px;
    border: 1px solid #eee;
    display: inline-block;
    margin: 15px 0;
    &:first-child {
      margin: 0;
    };
  }



}

.demo-container {
  display: flex;
  width: 100;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  margin: 25px 0;
  .left, .right {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  

}


